<div class="row marketing">

	<div class="jumbotron">
            
            <div ng-controller="AplicacionCtrl">
                <table>
                    <tr>    
                        <td width="50%">
                            Nombres:
                        </td>
                        <td width="50%" align="center">
                            <input type="text" ng-model="nombres" class="text-center">
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">    
                            Apellidos:
                        </td>
                        <td width="50%" align="center">
                            <input type="text" ng-model="apellidos" class="text-center">
                        </td>
                    </tr>
                </table>
                <hr>
                <p>
                    Nombre completo: 
                    <strong> 
                        {{nombres + " " + apellidos}}
                    </strong>
                </p>
            </div>
		
	</div>	​​
</div>